@font-face {
   font-family: 'ofont.ru_Good Vibes Pro';
   font-display: swap;
   src: url('ofont.ru_Good Vibes Pro/font.ttf');
}
@font-face {
   font-family: 'ofont.ru_Mon Amour One';
   font-display: swap;
   src: url('ofont.ru_Mon Amour One/font.ttf');
}
